{template "content","header_ny"}
<!--main-->
<div class="container">
<div class="container-fluid">
<div class="row-fluid">
    <div class="span2">
	</div>
  <div class="row-fluid">
    <div class="span5">
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">通知公告</a></li>
    <li><a href="#tab2" data-toggle="tab">书院新闻</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      {pc:content  action="lists" catid="17" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><span class="rt">{date('Y-m-d',$r[inputtime])}</span><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],60)}</a></li>

					{/loop}
				</ul>
				{/pc}
		<a href="/index.php?m=content&c=index&a=lists&catid=17" class="more">更多&gt;&gt;</a>
    </div>
    <div class="tab-pane" id="tab2">
      {pc:content  action="lists" catid="16" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><span class="rt">{date('Y-m-d',$r[inputtime])}</span><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],60)}</a></li>

					{/loop}
				</ul>
				{/pc}
				<a href="/index.php?m=content&c=index&a=lists&catid=16" class="more">更多&gt;&gt;</a>
    </div>
  </div>
</div>
    </div>
    <div class="span5">
	<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab3" data-toggle="tab">心灵驿站</a></li>
    <li><a href="#tab4" data-toggle="tab">就业招聘</a></li>
	<li><a href="#tab5" data-toggle="tab">奖助贷勤</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab3">
      {pc:content  action="lists" catid="13" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><span class="rt">{date('Y-m-d',$r[inputtime])}</span><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],64)}</a></li>

					{/loop}
				</ul>
				{/pc}
				<a href="/index.php?m=content&c=index&a=lists&catid=11" class="more">更多&gt;&gt;</a>
    </div>
    <div class="tab-pane" id="tab4">
      {pc:content  action="lists" catid="11" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><span class="rt">{date('Y-m-d',$r[inputtime])}</span><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],64)}</a></li>

					{/loop}
				</ul>
				{/pc}
				<a href="/index.php?m=content&c=index&a=lists&catid=13" class="more">更多&gt;&gt;</a>
    </div>
	<div class="tab-pane" id="tab5">
      {pc:content  action="lists" catid="12" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><span class="rt">{date('Y-m-d',$r[inputtime])}</span><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],64)}</a></li>

					{/loop}
				</ul>
				{/pc}
				<a href="/index.php?m=content&c=index&a=lists&catid=12" class="more">更多&gt;&gt;</a>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
	<div class="container well" style="text-align: center; ">
                           友情链接&gt;{pc:link action="type_list" siteid="$siteid" order="listorder
			                DESC" num="10" return="dat"}
				|{loop $dat $v} {if $type==0} <a href="{$v[url]}" target="_blank">{$v[name]}</a>
				| {else} <a href="{$v[url]}" target="_blank"><img
					src="{$v[logo]}" width="88" height="31"
					style="border: 1px solid #FFBE7A;"></a> {/if} {/loop}
			{/pc}
	</div>

	<div class="bottombg"></div>
</div>
{template "content","footer_mai"}
