{template "content","header_ny"}
<!--main-->
<div class="container" style="margin-top:-20px">
  <div class="container-fluid">
    <div class="row-fluid">
	
    <div class="span3">
	<div id="Nav">
<ul id="LeftNav">
              <li><a href="index.php">主&nbsp&nbsp页</a></li>
			  {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
				
				{loop $data $r}
				
					{pc:content action="category" catid="$r[catid]" num="15" siteid="$siteid" order="listorder ASC" return="data2"}

					<li><a href="{$r[url]}" >{$r[catname]}</a></li>
		
					{/pc}
				{/loop}
				
			{/pc} 
</ul>
	
	</div>
	<hr />
	
<div id="DutyInfo"> 
    <div id="DutyInfoInner">
      {pc:content  action="lists" catid="40" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><!--span class="pull-right">{date('Y-m-d',$r[inputtime])}</span--><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],60)}</a></li>

					{/loop}
				</ul>
				{/pc}
		<a href="/index.php?m=content&c=index&a=lists&catid=40" class="more">更多&gt;&gt;</a>
    </div>
</div>

	
	<hr />
	
	<div id="HotLink">
         {pc:link action="type_list" siteid="$siteid" order="listorder
			                DESC" num="10" return="dat"}
				{loop $dat $v} {if $type==0} <a href="{$v[url]}" target="_blank">{$v[name]}</a><br />
				{else} <a href="{$v[url]}" target="_blank"><img
					src="{$v[logo]}" width="88" height="31"
					style="border: 1px solid #FFBE7A;"></a> {/if} {/loop}
			{/pc}
	</div>

	</div>
 
   <div class="span6">
	
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">通知公告</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      {pc:content  action="lists" catid="17" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><span class="pull-right">{date('Y-m-d',$r[inputtime])}</span><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],60)}</a></li>

					{/loop}
				</ul>
				{/pc}
		<a href="/index.php?m=content&c=index&a=lists&catid=17" class="more pull-right">更多&gt;&gt;</a>
    </div>
  </div>
</div>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab21" data-toggle="tab">书院新闻</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab21">
      {pc:content  action="lists" catid="16" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><span class="pull-right">{date('Y-m-d',$r[inputtime])}</span><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],60)}</a></li>

					{/loop}
				</ul>
				{/pc}
		<a href="/index.php?m=content&c=index&a=lists&catid=16" class="more pull-right">更多&gt;&gt;</a>
    </div>
  </div>
</div>
 
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab3" data-toggle="tab">党团建设</a></li>
    <li><a href="#tab4" data-toggle="tab">书院团工委</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab3">
      {pc:content  action="lists" catid="10" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><span class="pull-right">{date('Y-m-d',$r[inputtime])}</span><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],60)}</a></li>

					{/loop}
				</ul>
				{/pc}
		<a href="/index.php?m=content&c=index&a=lists&catid=10" class="more pull-right">更多&gt;&gt;</a>
    </div>
    <div class="tab-pane" id="tab4">
      {pc:content  action="lists" catid="34" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><span class="pull-right">{date('Y-m-d',$r[inputtime])}</span><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],60)}</a></li>

					{/loop}
				</ul>
				{/pc}
				<a href="/index.php?m=content&c=index&a=lists&catid=34" class="more pull-right">更多&gt;&gt;</a>
    </div>
  </div>
</div>
 


  </div>

    <div class="span3">
	<div id="Right">
	<div id="calendar" style="height:275px">
		<input id="CalendarInput" name="date" type="text" id="date" onclick="calendar.show(this);" size="3" maxlength="10" readonly="readonly" />
		<script>$("#CalendarInput")[0].onclick()</script>
	</div>

	<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab5" data-toggle="tab">心灵驿站</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab5">
      {pc:content  action="lists" catid="13" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><span class="pull-right">{date('Y-m-d',$r[inputtime])}</span><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],64)}</a></li>

					{/loop}
				</ul>
				{/pc}
				<a href="/index.php?m=content&c=index&a=lists&catid=13" class="more pull-right">更多&gt;&gt;</a>
    </div>
	
  </div>
</div>

<div id="DownLoad">

      {pc:content  action="lists" catid="37" order="id DESC" page="$page" num="8"}
				<ul class="list-content" id="list14onlytitle">   
    				
					{loop $data $r}
					<li><!--span class="pull-right">{date('Y-m-d',$r[inputtime])}</span--><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],64)}</a></li>

					{/loop}
				</ul>
				{/pc}
    </div>
  	
	</div>
</div>
</div>
</div>
</div>
	

	<div class="bottombg"></div>
</div>
{template "content","footer_mai"}
