{template "content","yh_head"}
<div class="main">
  <div class="main_bottom">
    <div class="main_left">
      <div class="news_slide">
        <ul>
          <li><a href="#">09-26 测试测试测试测试...</a></li>
          <li><a href="#">09-26 测试测试测试测试...</a></li>
          <li><a href="#">09-26 测试测试测试测试...</a></li>
          <li><a href="#">09-26 测试测试测试测试算...</a></li>
          <li><a href="#">09-26 测试测试测试测试...</a></li>
        </ul>
        <a href="#" class="more"></a>
      </div>
      <div class="contect">
        <a class="pg" href="http://page.renren.com/601450417?id=601450417"><img src="{IMG_PATH}rr.jpg" /></a>
        <a class="pg" href=""><img src="{IMG_PATH}baidu.jpg" /></a>
        <div class="pg">E-mail：nanyangsu@163.com</div>
      </div>
    </div>
    <div class="main_right">
      <!--<div class="location">首页>最新消息>列表</div>-->
      <div class="nr">
         <div class="title">
	   {$title}<br /> <span>{$inputtime}&nbsp;&nbsp;&nbsp;来源：{$copyfrom}&nbsp;&nbsp;&nbsp;点击：</span><span id="hits"></span>
         </div>
         <div class="content">
					{if $allow_visitor==1} {$content}
					<!--内容关联投票-->
					{if $voteid}
					<script language="javascript"
						src="{APP_PATH}index.php?m=vote&c=index&a=show&action=js&subjectid={$voteid}&type=2"></script>
					{/if} {else}
					<CENTER>
						<a
							href="{APP_PATH}index.php?m=content&c=readpoint&allow_visitor={$allow_visitor}"><font
							color="red">阅读此信息需要您支付 <B><I>{$readpoint} {if
										$paytype}元{else}点{/if}</I></B>，点击这里支付
						</font></a>
					</CENTER>
					{/if}
	 </div>
       </div>
    </div>
    <div class="clean"></div>
  </div>
</div>
{template "content","yh_foot"}